Repository dagolub/trade: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, bandit, flake8

black:
  name: Run black
  entry: black
  language: system

bandit:
  name: Run bandit
  entry: bandit -s B311,B113,B105
  language: system

flake8:
  name: Run flake8
  entry: flake8
  language: system

add sub account api keys
  backend/app/app/services/okx_core/lib/client.py
Due: bandit

add sub account api keys
  backend/app/app/cron/transactions.py
  backend/app/app/services/okx_core/client.py
Due: black, bandit, flake8

deposit not found
  backend/app/app/api/api_v1/endpoints/deposits.py
  backend/app/app/services/okx_client.py
  backend/app/app/services/okx_core/client.py
Due: black, bandit, flake8

transaction
  backend/app/app/cron/transactions.py
  backend/app/app/services/interface.py
  backend/app/app/services/okx_client.py
  backend/app/app/services/okx_core/client.py
Due: black, bandit, flake8

transaction
  backend/app/app/cron/transactions.py
Due: black, bandit, flake8

transaction
  backend/app/app/services/okx_client.py
  backend/app/app/services/okx_core/client.py
Due: black, bandit, flake8

transaction
  backend/app/app/services/okx_client.py
  backend/app/app/services/okx_core/client.py
  backend/app/app/services/okx_core/lib/Broker_api.py
  backend/app/app/services/okx_core/lib/client.py
Due: black, bandit, flake8

change front
  .pre-commit-config.yaml
  backend/app/app/api/api_v1/endpoints/deposits.py
  backend/app/app/api/api_v1/endpoints/withdraws.py
  backend/app/app/cron/transactions.py
  backend/app/app/cron/transfer_to_main_account.py
  backend/app/app/crud/crud_deposit.py
  backend/app/app/schemas/withdraw.py
  backend/app/app/services/client.py
  backend/app/app/services/okx/Account_api.py
  backend/app/app/services/okx/Broker_api.py
  backend/app/app/services/okx/Convert_api.py
  backend/app/app/services/okx/FDBroker_api.py
  backend/app/app/services/okx/Finance_api.py
  backend/app/app/services/okx/Funding_api.py
  backend/app/app/services/okx/Market_api.py
  backend/app/app/services/okx/Public_api.py
  backend/app/app/services/okx/Rfq_api.py
  backend/app/app/services/okx/Trade_api.py
  backend/app/app/services/okx/TradingBot_api.py
  backend/app/app/services/okx/TradingData_api.py
  backend/app/app/services/okx/__init__.py
  backend/app/app/services/okx/client.py
  backend/app/app/services/okx/consts.py
  backend/app/app/services/okx/exceptions.py
  backend/app/app/services/okx/status_api.py
  backend/app/app/services/okx/subAccount_api.py
  backend/app/app/services/okx/utils.py
  backend/app/app/services/okx_client.py
  frontend/src/App.jsx
  frontend/src/components/deposits/DepositsTableItem.jsx
  frontend/src/components/deposits/form.jsx
  frontend/src/components/transactions/TransactionsTableItem.jsx
  frontend/src/components/wallets/WalletsTableItem.jsx
  frontend/src/components/withdraws/WithdrawsTable.jsx
  frontend/src/components/withdraws/WithdrawsTableItem.jsx
  frontend/src/pages/deposits/view.jsx
  frontend/src/pages/withdraws/list.jsx
  frontend/src/pages/withdraws/new.jsx
  frontend/src/pages/withdraws/view.jsx
  frontend/src/services/api.js
Due: black, bandit, flake8

change front
  frontend/src/components/transactions/TransactionsTableItem.jsx
Due: black, bandit

change front
  frontend/src/components/withdraws/WithdrawsTable.jsx
  frontend/src/components/withdraws/WithdrawsTableItem.jsx
Due: black, bandit

change front
  frontend/src/pages/withdraws/view.jsx
Due: black, bandit

change front
  frontend/src/pages/deposits/view.jsx
Due: black, bandit

change front
  backend/app/app/crud/crud_deposit.py
  frontend/src/App.jsx
  frontend/src/pages/deposits/new.jsx
  frontend/src/pages/deposits/view.jsx
Due: black, bandit, flake8

change front
  backend/app/app/api/api_v1/endpoints/deposits.py
  backend/app/app/cron/transactions.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/deposits/new.jsx
  frontend/src/services/api.js
  frontend/src/utils.js
Due: black, bandit, flake8

change front
  backend/app/app/cron/transactions.py
  frontend/src/pages/deposits/new.jsx
  frontend/src/partials/Header.jsx
Due: black, bandit, flake8

change front
  backend/app/app/cron/transactions.py
  backend/app/app/cron/transfer_to_main_account.py
Due: black, bandit, flake8

update
  backend/app/app/api/api_v1/endpoints/deposits.py
  backend/app/app/cron/transactions.py
  backend/app/app/crud/base.py
  backend/app/app/models/deposit.py
  backend/app/app/schemas/deposit.py
  backend/app/app/schemas/transaction.py
  backend/app/app/services/client.py
  frontend/src/components/deposits/DepositsTable.jsx
  frontend/src/components/deposits/DepositsTableItem.jsx
  frontend/src/hocs/withToken.js
  frontend/src/pages/deposits/new.jsx
  frontend/src/pages/deposits/view.jsx
  frontend/src/services/api.js
Due: black, bandit, flake8

update
  backend/app/app/cron/transactions.py
  backend/app/app/crud/base.py
Due: black, bandit, flake8

update
  backend/app/app/api/api_v1/endpoints/withdraws.py
  frontend/src/App.jsx
  frontend/src/pages/dashboard.jsx
  frontend/src/pages/deposits/new.jsx
  frontend/src/pages/withdraws/list.jsx
  frontend/src/pages/withdraws/new.jsx
  frontend/src/partials/dashboard/Currency.jsx
  frontend/src/services/api.js
Due: black, bandit, flake8

update
  frontend/src/App.jsx
  frontend/src/pages/withdraws/new.jsx
  frontend/src/partials/dashboard/Currency.jsx
Due: black, bandit

update
  frontend/src/pages/withdraws/new.jsx
Due: black, bandit

update
  backend/app/app/cron/transactions.py
  frontend/src/App.jsx
  frontend/src/pages/withdraws/new.jsx
  frontend/src/partials/dashboard/Currency.jsx
Due: black, bandit, flake8

update
  .github/workflows/flake8.yml
  .pre-commit-config.yaml
  backend/app/app/cron/transactions.py
Due: black, bandit, flake8

update
  backend/app/app/cron/transactions.py
Due: black, bandit, flake8

update
  backend/app/app/cron/transactions.py
  backend/app/app/models/callback.py
  backend/app/app/schemas/callback.py
Due: black, bandit, flake8

update
  backend/app/app/cron/transactions.py
  backend/app/app/models/transaction.py
  backend/app/app/schemas/transaction.py
Due: black, bandit, flake8

Path conditions:
  black: any file but: (backend/app/app/tests|backend/app/app/services/okx_core|.pre-commit-config.yaml|README.md|.github/workflows/bandit.yml)
  bandit: any file but: (.pre-commit-config.yaml|README.md|.github/workflows/black.yml|mypy.ini)
  flake8: any file but: (mypy.ini|.github/workflows/bandit.yml|.github/workflows/black.yml|backend/app/app/services/okx_core|frontend|backend/app/app/test|backend/app/app/codegen|.flake8|.github/workflows/flake8.yml|README.md|backend/.gitignore|backend/app/pyproject.toml|backend/app/pyproject.toml|backend/app/prestart.sh|.pre-commit-config.yaml|backend/app/poetry.lock)
